body {
    font-family: "sofia-pro-soft", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    
}


/*
header {
    background: #ffffff;
    color: #000000;
    padding: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 30px;
}  */

html{
    scroll-behavior: smooth;

}

.nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

.nav a {
    color: #000000;
    text-decoration: none;
}

/* HOME PAGE */
/*
.home-page {
    background-color: #000000;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.home-page h1 {
    font-size: 80px;
    margin-bottom: 20px;
}
 */

/* HOME PAGE */
.home-page {
    position: relative; 
    width: 100%;
    height: 110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    bottom: 0;
   
    margin: 0;
    padding: 0;
    overflow: hidden;    
    


    font-family: "sofia-pro-soft", sans-serif;
    font-weight: 400;
    font-style: normal;

}

/*
.video-background  {
    position: absolute;
    width: 100%;           
    height: 100%;         
    z-index: -1;
    overflow: hidden;    
    object-fit: cover; 
                      
}*/

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*this methid helps the video fit the while screen even when resized*/
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    opacity: 60%;
    background-color: #000000;
    z-index: 1;
    
}


.homepage-solid{
    position: absolute;
    width: 100%;
    height: 110%;
    background-color: rgb(0, 0, 0);
    z-index: -1px;
  
   
}



.home-page h1 {
    position: relative;
    font-size: 80px;
    margin-bottom: 20px;
    font-family: "sofia-pro-soft", sans-serif;
    font-weight: 700;
    font-style: normal;
    bottom: 20px;
    z-index: 1;


}

.home-page p {
    position: relative;
    font-size: 20px;
    text-align: center;
    font-family: "sofia-pro-soft", sans-serif;
    font-weight: 0;
    font-style: normal;
    bottom: 30px;

    
    left: 0px;
    z-index: 1;
}

#version{
    font-size: 12px;

    
}

.home-page button {
    position: relative;
    background-color: #6b4597;
    font-size: 20px;
    padding: 15px 20px;
    border: none;
    color: #fff;
    border-radius: 10px;
    top: 30px;

    font-family: "sofia-pro-soft", sans-serif;

    cursor: pointer;

    z-index: 1;
}

.home-page button:hover {
    background-color: #cdb0ec;
    border: #6b4597;
    ;
}



#homepage-footer {
    height: 5px;
    width: 100%;
    
    background-color: #a187c0; 
    text-align: center;
    position: relative;  
}
   

    



/* TUTORIAL PAGE */

/*
.tutorial-page {
    background-color: #000000;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
}
*/

.tutorial-page {
    background-color: #000000;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}



/* slider bar */
.slider-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    text-align: center;
    font-family: "sofia-pro-soft", sans-serif;
}

.tutorial-text{
    position: relative;
    bottom: 90px;
    right: 30px;
    width: 110%;
    font-size: 30px;
    
}

#version2{
    position: relative;
    font-size: 12px;
    bottom: 20px;

    
}


/* the image slider 


.slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/

.slider-item img {
    width: 100%;
    height: auto;
}

.slider-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 60px;
}

.steps {
    position: absolute;  
    top: 280px;  
    font-size: 18px;  
    color: #ffffff;
    font-family: "sofia-pro-soft", sans-serif;
    display: none; 
}

.slider-item .steps.show {
    display: block;
    
}



/* Left and right buttons */
.tutorial-button {
    background-color: #6b4597;
    color: white;
    border: none;
    padding: 10px;
    font-size: 40px;
    border-radius: 5px;
    z-index: 10;
    position: absolute;
    top: 230px;
    transform: translateY(-50%);

    cursor: pointer;


}


.tutorial-button:hover {
    background-color: #a187c0;
    
}


.prev {
    left: -80px;

}
.next {
    right: -80px;
}


#tutorialpage-footer{
    height: 5px;
    width: 100%;
    
    background-color: #a187c0; 
    text-align: center;
    position: relative;
} 







*/



/* PRESET PAGE */



.preset-page {
    background-color: #ffffff;
    padding: 0; 
    margin: 0; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 100%;

    
}

.preset-page h1 {
    position: relative;
    
    margin: 10px;
    left: 290px;
    color: #6b4597;
    top: 10px;

    font-size: 50px;
    font-family: "sofia-pro-soft", sans-serif;
    font-weight: 550;
}


#tip {
    position: relative;
    font-family: "sofia-pro-soft", sans-serif;
    font-weight: 400;
    font-size: 20px;
    bottom: 40px;
    left: 290px;
    margin-bottom: 30px;

}


.preset-container {
    position: relative;
    display: flex;
    align-items: flex-start; 
    gap: 20px; 
    bottom: 30px;
}



/* the preset videos */
#content {
    flex-grow: 1; 
    padding: 60px;
}

/* The preset FILTER */
#filter-menu {
    position: sticky;
    width: 500px;
    background: lavender;
    padding: 15px;
    
    top: 40px;
    overflow-y: auto;
    transition: top 0.3s ease;
    margin: 10px;

    font-family: "sofia-pro-soft", sans-serif;
    font-weight: 400;
    font-style: normal;
    

    
}

/*position: -webkit-sticky; ?????*/ 

.filter-option{
    cursor: pointer;
}

#filter-menu h2 {
    margin-top: 0;
    color: 6b4597;
}

#filter-menu label {
    display: block;
    margin: 10px 0;
    cursor: pointer;
    color: 6b4597;
    
}

#filter-menu button {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    background: #6b4597;
    color: white;
    border: none;
    cursor: pointer;

    font-family: "sofia-pro-soft", sans-serif;
}


#filter-menu button:hover{
    background-color: #6b4597;

    cursor: pointer;
}

/* video content */

.video-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 5px; 
    padding: 0;
    margin: -40px; 
}



.video-item {
    margin: -40; 
    padding: 60;  
}

.video {
    width: 100%;
    height: auto;
}

.video-item:hover video {
    transform: scale(1.1);

    cursor: pointer;
}

/* POPUP */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 110%;
    height: 100%;
    background: rgba(47, 29, 54, 0.8);   /*the background background (to click out of)*/
    justify-content: center;
    align-items: center;
    z-index: 1;
    
}

.popup video {
    width: 50%;
    max-height: 100%;
    border-radius: 20px;
}

.popup-content {
    position: relative;
    max-width: 60%;
    max-height: 80%;
    display: flex;
    
    align-items: center;
    gap: 40px;
    background: #ffffff;
    padding: 20px;
    
    
}


/* popup textbox */
#popup-text {
    position: relative;
    min-width: 340px; 
    max-width: 100%; 
    height: fit-content;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    background: #ffffff;
    color: #000000;

    left: 30px;
    bottom: 20px;

    font-size: 15px;
    font-family: "sofia-pro-soft", sans-serif;
    font-weight: 400;
    font-style: normal;
    

}





#close-popup{
    position: relative;
    color: white;
    background-color: #6b4597;
    border-radius: 10px;
    min-width: 90px;
    border: none;
    padding: 4px;

    top: 200px;
    right: 240px;

    font-family: "sofia-pro-soft", sans-serif;

    cursor: pointer;

}

#close-popup:hover {
    background-color: #cdb0ec;
   

}




#scrollbutton2 {
    position: relative;
    background-color: #6b4597;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    color: #fff;
    border-radius: 10px;
    top: 75px;

  
    left: 90%;
    transform: translateX(-50%);

    font-family: "sofia-pro-soft", sans-serif;
    cursor: pointer;
    z-index: 1;


    margin: -20;
}


#scrollbutton2:hover {
    background-color: #cdb0ec;
    border: #6b4597;
}



